*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(../PSDTASK/taskpics/01Banner.png);
    position: relative;
    height: 120vh;
    background-color: #303030;
    
}
nav{
    background-color: #303030;
    margin: 0 auto;
    padding: 10px 60px 10px 60px;
    align-items: center;
    justify-content: space-between;
}
.row{
    display: flex;
    justify-content: space-between;
}
.row a {
    padding: 30px;
    color: white;
}
.banner{
    color: white;
    padding: 10px;
    margin-top: 20%;
    margin-left: 6%;

}
h1{
    font-size: 100px;
    
}
h1+p {
    font-size: 22px;
    width: 45%;
    line-height: 25px;
    word-spacing: 26px;    
}
.banner button{
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
}
.section1{
    text-align: center;
    color: white;
    background-color: orangered;
    
}
h2{
    font-size: 60px;
}
h2+p {
    font-size: 22px;
    width: 50%;
    line-height: 25px;
    word-spacing: 26px;     
}
