*{
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    padding: 15px 0px 15px 0px;
    font-size: 15px;
}
.row{
    display: flex;
    justify-content: space-around;
}
.row a{
    text-decoration: none;
    color: white;
    text-align: justify; 
    cursor: pointer;
}
.gp{
    padding-right: 160px;
}
.ic{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.section1{
    background-image: url(../SabarmatiRiverfront/pics/riverfrontfootoverbridge.jpg);
    margin: 0 auto;
    background-repeat: none;
    background-size: cover;    
}
.nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    background-color: white;
    align-items: center;
}
.lnav{
    display: flex;
    justify-content: space-around;
}
.lnav a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 10px;
}
.banner{
    color: white;
    padding: 10px;
    margin-top: 20%;
}
h1{
    font-size: 60px;
    text-align: center;
}
h1+p{
    font-size: 20px;
    text-align: center;
}
h2{
    font-size: 40px;
    color: black;
    padding: 25px;
}
h2+p{
    text-align: justify;
    line-height: 30px;
}
.col-33{
    width: 33.33%;
}
.col-33 img{
    width: 100%;
    padding: 60px;
}
h3{
    text-align: center;
    font-size: 30px;
    color: black;
    padding: 20px;
}
p {
    color: rgb(44, 43, 43);
    font-size: 15px;
    padding: 20px;
    text-align: center;
}
button{
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #00bfff;
}
button:hover {
    background-color: #008cba;
    cursor: pointer;
}
.col-50{
    width: 50%;
    text-align: justify;
}
.col-50 img{
    object-fit: contain;
    width: 100%;
    padding: 10px;
}
.col-25{
    width: 25%;
    padding: 20px;
}
.col-25 img{
    object-fit: contain;
    width: 100%;
    padding: 10px 10px 0px 10px;
  }
.ptv{
    background-color: #00bfff;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    text-decoration: none;

}
.ptv a{
    color: white;
    text-decoration: none;
}
/* The .video-container class is styled to be relative.
The image and iframe are set to be the same size for seamless replacement.
The display property is used to hide the iframe by default.
The :focus-within pseudo-class is used to change the display property. Clicking on the image gives focus to the container, making the image disappear and the iframe appear. */
.video-container {
    position: relative;
    width: 100%;
}
.video-container img {
    width: 100%;
    height: 400px;
    cursor: pointer;
}
.video-container iframe {
    width: 100%;
    height: 400px;
    border: none;
    display: none;
}
.video-container:focus-within img {
    display: none;
}
.video-container:focus-within iframe {
    display: block;
}
/* make this relative parent discuss with Sir. */
/* .column{
    position: relative;
    color: blue;
}
.scrolling-text{
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.scrolling-text p{
    position: absolute;
    width: 100%;
    /* Collapses white space as for normal, but suppresses line breaks (text wrapping) within the source. overflow of text */
    /* animation-duration: 10s;
    animation-iteration-count: infinite;
    animation: scroll-up 10S linear infinite; */
/* }
@keyframes scroll-up {
    0% {
        top:100%
    }
    100%{
        top:-100%
    }
    
}  */

.ftdis{
    background-color: gray;
    padding: 20px 120px 10px;
    color: white;
    font-size: 20px;
}
hr{
    color: white;
    background-color: white;
}
.footer{
    background-image: url(../SabarmatiRiverfront/pics/footerbanner.jpg);
    background-size: cover;
}
.contact {
    background-color: aqua;
    color: white;
    justify-content: space-around;
}
.w95 {
    width: 95%;
}
.li{
    text-align: justify;
    padding: 20px;
}
.li ol{
    list-style-type: none;
    padding: 10px;
    color: white;
    line-height: 20px;
}
.wf{
    color: white;
}