* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* with * we applied univeral  */
.container {
    padding: 20px;
}

.logo {
    width: 100px;
}
/* hover for nav to display drop down menu */
.hide {
    display: none;
}
.show{
    padding: 10px;
}
.hide a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    }

.show:hover .hide {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 30px;
    background-color: black;
    color: white;
    position: absolute;
    top: 55px;
    left: 0;
    padding: 20px;
    
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
/* content display in row, with gap  */
.row {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}
/* Slider banner input for media differnt size to be given. */
.slider{
    width: 100%;
    height: 600px;
}
.banner{
    background: no-repeat center center/cover;
    animation-name: banner;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes banner {
    0%{
        background-image: url(../disney/grafics/b1.jpeg);
    }
    16%{
        background-image: url(../disney/grafics/b2.jpeg) ;
    }
    32%{
        background-image:  url(../disney/grafics/b3.jfif);
    }
    47%{
        background-image:  url(../disney/grafics/b4.jfif);
    }
    62%{
        background-image: url(../disney/grafics/b3.jpg) ;
    }
    77%{
        background-image: url(../disney/grafics/b2.jpeg);
             }
    100%{
        background-image: url(../disney/grafics/b1.jpeg) ;
    }
}
/*  Banner slider over */

/* shopping 4 part section */
.container1{
    padding: 20px 0px;
}
.col25{
    width: 25%;
    padding: 10px;
}
.colimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.colimg:hover {
    transform: scale(1.1);
   
}
.coltext{
    position: relative;
    
}
.text{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.322));
    position: absolute;
    bottom: 10%;
    color: white;
    width: 100%;
    padding: 10px 30px;
}
button{
    border: none;
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-weight: 600;
    padding: 10px;
}

/* section 3  2 part*/
.sec{
    background-color: rgba(128, 128, 128, 0.123);
}
.container3{
    width: 90%;
    margin: 0 auto;
}
h2{
    font-size: 30px;
}
.rowd {
    display: flex;
    flex-wrap: wrap;
}
.col-50 {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}

.frame iframe.display {
    width: 100%;
    height: 360px; /* Adjust height as needed */
    border: none; 
}
.content {
    margin-top: 10px;
}
.content h3 {
    font-size: 24px;
    margin-bottom: 5px;
}
.content p {
    margin: 0;
}
.image-wrapper {
    text-align: center;
}
.image-wrapper p {
    padding-top: 60px;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
}
/* section 4 3 part with col30 */
.col30{
    width: 33.33%;
    padding: 10px;
}
.image-wrapper h3+p {
    padding: 10px;
}
/* Footer */

.social{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    font-size: 30px;
}
.rowf{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}
.btt{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.btt a{
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}



/* Media Quaries for responsive */
/* // Small devices (landscape phones, 576px and up) */
@media  (max-width: 576px) { 
    .row{
        display: flex;
        flex-direction: column;
    }
    .rowd{
        display: flex;
        flex-direction: column;
    }
    .rowf{
        display: flex;
        flex-direction: column;
    }
    .btt{
        display: flex;
        flex-direction: column;
    }
    .col25{
        width: 100%;
        padding: 10px;
    }
    .col30{
        width: 100%;
        padding: 10px;
    }
    .colimg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .slider{
        width: 100%;
        height: 300px;
    }
    .frame  {
        width: 100%;
    }
    .col50{
        width: 100%;
    }
}
/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .row{
        display: flex;
        flex-direction: column;
    }
    .rowd{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rowf{
        display: flex;
        flex-direction: column;
    }
    .btt{
        display: flex;
        flex-direction: column;
    }
    .col25{
        width: 50%;
        padding: 10px;
    }
    .col30{
        width: 100%;
        padding: 10px;
    }
    .slider{
        width: 100%;
        height: 300px;
    }
    .col25{
        width: 100%;
        padding: 10px;
    }
    .colimg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .frame  {
        width: 100%;
    }
    .col50{
        width: 100%;
    }
    }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .rowd{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rowf{
        display: flex;
        flex-direction: column;
    }
    .btt{
        display: flex;
        flex-direction: column;
    }
    .col25{
        width: 100%;
        padding: 10px;
    }
    .col30{
        width: 100%;
        padding: 10px;
    }
    .slider{
        width: 100%;
        height: 300px;
    }
    .frame  {
        width: 100%;
    }
    .col50{
        width: 100%;
    }
    }

@media (max-width: 1290px) {
    .frame{
        width: 100%;
    }
    .frame  {
        width: 100%;
    }
    .col50{
        width: 100%;
    }
    
}