*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    background: url(.././../Project/PSDTASK/taskpics/01Banner.png);
    margin: 0 auto;
}
.sr{
    background-color: #303030;
}
.nr1{
    width: 90%;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col-50{
    width: 50%;
}
.col-33{
    width: 33.33%;
}
.banner-text{
    padding: 100px 0px;
    margin-top: 50px;
    color: white;
}
h1{
    font-size: 70px;
    padding-top: 100px;
}
h1+p {
    font-size: 22px;
    padding: 20px 0px;
}
button{
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 22px;
    background-color: #303030;
}
a{
    text-decoration: None;
    color: white;
}
.input{
    padding: 20px;
    list-style: none;
    gap: 60px;
}
