body {
    background-color: rgba(73, 30, 30, 0.253);
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 5px;
}
/* background gave properties to box sizing border box  */

.chess {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 520px;
}

.row {
    display: flex;
}

.cell {
    width: 150px;
    height: 65px;
}

.white {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.black {
    background-color: #e0ca8b;
    text-align: center;
}