body{
    background-color: aqua;
    margin: 0;
    box-sizing: border-box;
}
.chessboard {
    background-color: thistle;
    margin: 30px 30px 30px;
}
.squareb {
    width: 160px;
    height: 70px;
    background-color: brown;
    float: left;
    text-align: center;
    font-size: 20px;
}
.squarew{
    width: 160px;
    height: 70px;  
    background-color: white; 
    float: left; 
    text-align: center; 
    font-size: 20px;
}
